h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

#notestable {
    width: 100%;
    border-collapse: collapse;
}


#tableContainer {
    width: 800px;
    overflow-x: auto; /* Add horizontal scrollbar when content overflows */
}


th, td {
    text-align: center;
    border-bottom: 1px solid rgb(209, 203, 194);
    
}
th, tr {
    border-top: 1px solid black; /* Add top border */
    border-bottom: 1px solid black; /* Add bottom border */
    height:30px;
}

#fraction {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    float:left;
    margin:20px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding:5px;
    border:1px solid black;
    justify-content: space-evenly;

}



#imgdiv
{
   margin-top: 32px;
   float:left;
}

#container
{
   display: flex; 
}

#datadiv
{
   float:right
}

.centered {
    text-align: center;
}

.buttonContainer {
    padding: 50px;
    margin: 50px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    display: flex;
    flex-direction: row; /* Stack items vertically */
}

.loadingSpinner {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Spin animation */
    /* right: -70px; Adjust distance from button as needed */
}

.hidden {
    display: none;
}

.verticalAlign {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 10px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


