h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}


th, td {
    text-align: center;
}
table {
    border-right: 1px solid black; /* Remove right border for last column */
}

#imgdiv
{
   float:left;
}
#datadiv
{
   float:right
}
#container
{
   display: inline-block
}

.rotate-90 {
    transform: rotate(90deg);
}

.centered {
    text-align: center;
}
