h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}


th, td {
    text-align: center;
}
th, tr {
    border-top: 1px solid black; /* Add top border */
    border-bottom: 1px solid black; /* Add bottom border */
}

#imgdiv
{
   margin-top: 20px;
   float:left;
}

#container
{
   display: inline-block
}

#datadiv
{
   float:right
}

.centered {
    text-align: center;
}
