<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>FlaskBlog</title>
    </head>
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to MidiNoteToGCODE converter</h1>
   <form action="{{url_for('gcode')}}" method="post">

    <select name="notes_select" class="Input">
          {% for note, idx in notes.items() %}
          <option value="{{ idx }}">{{ note }}</option>
          {% endfor %}
    </select>

    <select name="duration_select" class="Input">
        {% for duration, value in durations.items() %}
        <option value="{{ value }}">{{ duration }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">Submit</button> 

</form>
    

</body>
</html>
