<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>FlaskBlog</title>
    </head>
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to MidiNoteToGCODE converter</h1>
   <div id="container">
    <div id="imgdiv">
       <img src="static/keyboard.jpg" height="370px"/>
    </div>
    <div id="datadiv">
        <form method="post">

            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for j in range(num_beats) %}
                            <th>{{ j + 1 }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(num_tones) %}
                        <tr>
                            <td>{{ notes[num_tones - i - 1] }}</td>
                            {% for j in range(num_beats) %}
                                <td><input type="checkbox" name="checkbox_{{ i }}_{{ j }}"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



            <button type="submit" id="downloadButton">Download STL File</button>
            <button type="submit" id="playButton">Play Song</button>
            <audio id="audioPlayer" src="../result_song.wav"></audio>



            <div id="spinnerContainer" class="loadingSpinner hidden"></div>

            
            

        </form>
        
    </div>
    

</body>

<script>
    document.getElementById('downloadButton').addEventListener('click', function(event) {
       
        event.preventDefault();
        document.getElementById('spinnerContainer').classList.remove('hidden');
        var formData = new FormData(this.form);

        // Submit form data to Flask backend
        fetch('/stl', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                return response.blob();
            }
        })
        .then(blob => {
            // Create a temporary URL for the Blob
            const url = URL.createObjectURL(blob);
            // Create a temporary <a> element to trigger the download
            const link = document.createElement('a');
            link.href = url;
            link.download = 'drum.stl'; // Set the filename for the download
            // Simulate a click on the <a> element to initiate the download
            link.click();
            // Clean up: Revoke the temporary URL
            URL.revokeObjectURL(url);
            document.getElementById('spinnerContainer').classList.add('hidden'); // Hide spinner
        })
        .catch(error => console.error('Error:', error));
    });


    document.getElementById('playButton').addEventListener('click', function(event) {
       
        event.preventDefault();
        var audioPlayer = document.getElementById('audioPlayer');
        // document.getElementById('spinnerContainer').classList.remove('hidden');
        var formData = new FormData(this.form);

        // Submit form data to Flask backend
        fetch('/song', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                console.log("playy!")
                audioPlayer.play();
            }
        })
        .catch(error => console.error('Error:', error));
    });

</script>


</html>
