<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>FlaskBlog</title>
    </head>
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to MidiNoteToGCODE converter</h1>
   <div id="container">
    <div id="imgdiv">
       <img src="static/keyboard.jpg" height="370px"/>
    </div>
    <div id="datadiv">
        <form id="dataForm">

            <table>
                <thead>
                    <tr>
                        <th></th>
                        {% for j in range(num_beats) %}
                            <th>{{ j + 1 }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(num_tones) %}
                        <tr>
                            <td>{{ notes[num_tones - i - 1] }}</td>
                            {% for j in range(num_beats) %}
                                <td><input type="checkbox" name="checkbox_{{ i }}_{{ j }}"></td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="btn btn-primary">Submit</button> 

        </form>
    </div>

<h1>
    <a  href="/download_file" download>
        <button id="downloadButton" disabled>Download File</button>
    </a>
    <a  href="/play_song">
        <button id="playButton" disabled>Play Song</button>
    </a>
</h1>
    



    <script>
        document.getElementById('dataForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            
            // Submit form data to Flask backend
            fetch('/gcode', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById('downloadButton').disabled = false;
                    document.getElementById('playButton').disabled = false;
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
    

</body>
</html>
